**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.docx
**/*.log
**/bin
**/charts
**/docker-compose*
**/node_modules
**/obj
**/out
**/publish
